#menu__toggle {
  display: none;
}

.burger-menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: fixed;
  top: 30px;
  right: 20px;
  width: 40px;
  height: 26px;
  cursor: pointer;
  z-index: 5;
  @media (max-width: 767.5px) {
    top: 15px;
  }
}
.burger-menu__btn > span,
.burger-menu__btn > span::before,
.burger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #34c759;
}
.burger-menu__btn > span::before {
  content: "";
  top: -11px;
}
.burger-menu__btn > span::after {
  content: "";
  top: 11px;
}

@media (min-width: 767.5px) {
  .burger-menu__btn {
    display: none;
  }
}

.burger-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 80px 0;
  text-align: center;
  background-color: #513;
  z-index: 2;
}
.burger-menu__list::before {
  content: "";
  position: absolute;
  background: url(../img/logo.png) 0 0 no-repeat;
  top: 15px;
  left: 20px;
  width: 208px;
  height: 24px;
}

/* элементы меню */
.burger-menu__item {
  display: block;
  padding: 25px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.5px;
  color: #fff;
}
.burger-menu__item:hover {
  background-color: #df4646;
}

#menu__toggle:checked ~ .burger-menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .burger-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .burger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .burger-menu__list {
  visibility: visible;
  left: 0;
}

#menu__toggle:checked ~ .burger-menu__list > li > .burger-header__contacts {
  display: block;
  background: yellow;
}

.burger-menu__btn > span,
.burger-menu__btn > span::before,
.burger-menu__btn > span::after {
  transition-duration: 0.25s;
}
.burger-menu__list {
  transition-duration: 0.25s;
}
.burger-menu__item {
  transition-duration: 0.25s;
}