/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

li {
   list-style: none;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

img {
   vertical-align: top;
}

html,
body {
   height: 100%;
}

html {
   font-size: 16px;
}

body {
   font-family: Helvetica;
   line-height: 1;
   color: #fff;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
   background-color: #191919;

}

.main {
   flex: 1 1 auto;
}

[class*=__container] {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 1140px;
}


[class*=__ibg] {
   position: relative;
}

[class*=__ibg] img {
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
