@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

.wrapper {
	background-color: #edfc67;
}

h1 {
	padding: 20px;
	margin-bottom: 30px;
	font-family: "Amatic SC", cursive;
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 10px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px #9b0101fa;
}

.navigation {
	padding: 20px 10px;
	margin: 0 auto 30px;
	max-width: 1200px;
}

.navigation__list {
	margin: 0 auto;
	max-width: 90%;
	font-size: 0;
	text-align: center;
}

.navigation__item {
	display: inline-block;
	margin: 0 15px 0 0;
	font-size: 18px;
	text-align: center;
}

.navigation__item:last-child {
	margin: 0;
}

.navigation__link {
	display: inline-block;
	font-family: "Russo One", sans-serif;
	text-transform: uppercase;
	line-height: 200%;
}

.navigation__link img {
	display: block;
	outline: 1px solid #a851f0;
	box-shadow: 1px 1px 10px 3px #4d08f0fd;
	border-radius: 50%;
}
/*МЕЙН КОНТЕНТ---------------------------*/
.sub-title {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	box-shadow: inset 1px 1px 5px 10px darkmagenta;
}

.content__sub-title {
	margin: 0 0 10px 0;
}

.text {
	display: block;
	min-width: 320px;
	background-color: #5a80fcfb;
	opacity: 50%;
}

.content__text {
	margin-bottom: 40px;
}

.inline-div {
	margin: 20px;
	display: inline;
	font-size: 32px;
	color: #ff0000;
	border: 2px solid #000;
	opacity: 100;
}

.content__text-yellow {
	display: inline;
	padding-left: 20px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 1px;
	margin-bottom: 422222220px;
	line-height: 200%;
	color: #f3ef00;
	opacity: 100;
}

.gallery {
	font-size: 0;
	max-width: 1200px;
	margin: 0 auto 30px;
}

.gallery__img {
	display: inline-block;
	width: 50%;
}

.gallery__img img {
	border-radius: 80px;
	border-top-right-radius: 0;
}

.gallery__img-right {
	text-align: right;
}

.footer {
	margin-bottom: 30px;
}

.footer__link {
	visibility: hidden;
}

/*Дополнительное задание урока 5 ------------------------*/

.task__sub-title {
	margin: 0 0 50px 0;
}

.task__sub-title + .task__block {
	border-left: 9px solid #862;
	border-top: 2px dotted #ff0000;
	border-right: 10px dashed #00ffff;
	border-bottom: 5px double #000;
}

.task__block {
	margin-bottom: 30px;
	border: 1px solid #000;
}

.task__one {
	display: block;
}

.task-wrapper {
	font-size: 0;
}

.task-wrapper-opacity {
	opacity: 50%;
}

.task__two {
	display: inline-block;
	padding: 15px;
	max-width: 200px;
	max-height: 200px;
	font-size: 16px;
	vertical-align: middle;
	color: #f57070;
	background-color: #213;
	border-radius: 15px 20px;
}

.task__three {
	display: inline-block;
	margin-bottom: 30px;
	color: #fff;
	background-color: #ff0000;
	box-shadow: 2px 3px 5px 10px #213, -3px -4px 5px 10px #fff;
}

.task__four {
	display: inline-block;
	max-width: 100px;
	margin-right: 30px;
	padding: 10px;
	font-size: 16px;
	vertical-align: top;
	background-color: #a851f0;
	border-top-left-radius: 25%;
	border-bottom-right-radius: 75%;
	overflow: hidden;
}

.task__five {
	padding: 30px;
	width: 200px;
	height: 200px;
	color: #5a80fcfb;
	background-color: #492a2a;
	border-radius: 50%;
	overflow: hidden;
}

.task__five-overflowed {
	margin-top: -30px;
	background-color: #00ffff;
}

.task__six {
	display: block;
	max-height: 200px;
	background-color: #ff0000;
	overflow: auto;
}

.span {
	border: 1px solid #000;
}
