/*Верно ли мое предположение, что cyrillic extended нужно использовать в случае с украинским или другими языками где содержатся дополнительные символы?*/
@import url("https://fonts.googleapis.com/css?family=Rubik+Beastly:regular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@font-face {
	font-family: "SF UI Text";
	src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF UI Text";
	src: url("../fonts/SFUIText-Bold.woff2") format("woff2"), url("../fonts/SFUIText-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF UI Text";
	src: url("../fonts/SFUIText-Italic.woff2") format("woff2"), url("../fonts/SFUIText-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

header p span {
	font-weight: 400;
	text-decoration: line-through;
}

h1 {
	font-family: "Rubik Beastly";
	font-size: 48px;
	line-height: 150%;
	font-weight: 400;
	word-spacing: 20px;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	color: #c72626;
	text-shadow: 1px 2px 7px #000;
}

.img-right {
	text-align: right;
}

.img-center {
	text-align: center;
}

header .img + p {
	text-align: right;
}

nav p {
	font-size: 40px;
	line-height: 200%;
	text-decoration: underline;
}

.navigation {
	font-family: "Russo One", sans-serif;
	font-size: 20px;
	line-height: 120%;
	font-weight: 400;
}

.navigation a {
	font-weight: 700;
	color: #cf0101;
	text-transform: uppercase;
}
.title {
	font-family: "SF UI Text", sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.sub-title {
	font-family: "SF UI Text", sans-serif;
	font-style: italic;
	font-weight: 400;
	text-align: left;
}

.text {
	text-indent: 20px;
}
#myth + p {
	text-align: justify;
}
.no-wrap-text {
	text-transform: capitalize;
	white-space: nowrap;
}
.gallery {
	/*------------------------это уже любопытно*/
	word-spacing: 170px;
	text-align: center;
}
footer {
	text-align: center;
}
.footer__text {
	font-style: oblique;
	text-align: right;
}
