@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Regular.woff2') format('woff2'),
        url('SFUIText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Bold.woff2') format('woff2'),
        url('SFUIText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Italic.woff2') format('woff2'),
        url('SFUIText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

